MicroRuntime/bin/Debug/log4net.dll
MicroRuntime/bin/Debug/voidsoft.MicroRuntime.dll
MicroRuntime/bin/Debug/voidsoft.MicroRuntime.pdb
MicroRuntime/bin/Debug/voidsoft.xml
MicroRuntime/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MicroRuntime/obj/Debug/voidsoft.MicroRuntime.csproj.FileListAbsolute.txt
MicroRuntime/obj/Debug/voidsoft.MicroRuntime.dll
MicroRuntime/obj/Debug/voidsoft.MicroRuntime.pdb
Test/UnitTests/bin/Debug/Snowflake.Tests.dll
Test/UnitTests/bin/Debug/Snowflake.Tests.pdb
Test/UnitTests/bin/Debug/log4net.dll
Test/UnitTests/bin/Debug/voidsoft.MicroRuntime.dll
Test/UnitTests/bin/Debug/voidsoft.MicroRuntime.pdb
Test/UnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/UnitTests/obj/Debug/Snowflake.Tests.dll
Test/UnitTests/obj/Debug/Snowflake.Tests.pdb
Test/UnitTests/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Test/UnitTests/obj/Debug/Tests.Properties.Resources.resources
Test/UnitTests/obj/Debug/Tests.csproj.FileListAbsolute.txt
Test/UnitTests/obj/Debug/Tests.csproj.GenerateResource.Cache
Test/UnitTests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
voidsoft.MicroRuntime.sln.DotSettings.user
